.container{
 height: 768px;
    
}
.card{
   margin-top: auto !important;
  margin-bottom: auto !important;
    width: 650px;
    height: 300px;
}
.content{
   
}
.image{
   
    width: 300px;
}
.form{
    width: 550px;
    height: 250px;
}
.font{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.rounded-3 {
    border-radius: .8rem !important;
}
.btn {
    background: #6C63FF;
    color: #fff;

}

.btn:hover {
    background: none;
    transition: 1s all;
    border-color: #6C63FF;
    color: #6C63Ff;

}